@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

body {
    font-family: "Red Hat Display";
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(224, 23%, 55%);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid greenyellow; */
}

main {
    max-width: 450px;
    border: 1px solid black;
}

main > img {
    width: 100%;
}

#bottom-half {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

p {
    padding: 0 50px;
    line-height: 24px;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.84rem;
    margin-bottom: 20px;
    color: hsl(223, 47%, 23%);
}

#premium-plan {
    display: flex;
    gap: 10px;
    padding: 18px;
    align-items: center;
    background-color: hsla(223, 47%, 23%, 0.05);
    border-radius: 12px;
    margin-bottom: 30px;
}

#premium-plan > a {
    margin-left: auto;
}

#premium-plan > div {
    display: flex;
    flex-direction: column;
}

#premium-plan span:first-of-type {
    color: hsl(223, 47%, 23%);
}

#bottom-half > a {
    color: inherit;
    text-decoration: none;
    margin-bottom: 14px;
}

#premium-plan > a {
    color: hsl(245, 75%, 52%)
}

button {
    font-family: inherit;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 12px;
    font-weight: 700;
    font-size: inherit;
    margin-bottom: 25px;
}

a {
    font-weight: 700;
}